{
  "agents": {
    "zhugeliang": {
      "appId": "cli_xxxxxxxxx",
      "appSecret": "xxxxxxxxxxxxxxxxxxxxxxxx"
    },
    "liubei": {
      "appId": "cli_xxxxxxxxx",
      "appSecret": "xxxxxxxxxxxxxxxxxxxxxxxx"
    },
    "guanyu": {
      "appId": "cli_xxxxxxxxx",
      "appSecret": "xxxxxxxxxxxxxxxxxxxxxxxx"
    },
    "zhaoyun": {
      "appId": "cli_xxxxxxxxx",
      "appSecret": "xxxxxxxxxxxxxxxxxxxxxxxx"
    },
    "xunyu": {
      "appId": "cli_xxxxxxxxx",
      "appSecret": "xxxxxxxxxxxxxxxxxxxxxxxx"
    },
    "zhangfei": {
      "appId": "cli_xxxxxxxxx",
      "appSecret": "xxxxxxxxxxxxxxxxxxxxxxxx"
    },
    "huatuo": {
      "appId": "cli_xxxxxxxxx",
      "appSecret": "xxxxxxxxxxxxxxxxxxxxxxxx"
    },
    "chenlin": {
      "appId": "cli_xxxxxxxxx",
      "appSecret": "xxxxxxxxxxxxxxxxxxxxxxxx"
    }
  }
}
